@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Zt Shago Bold", "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

#dark {
  /* background-color: #2D2E31; */
  /* background-color: #030202; */
  /* background-color: #1B1B1B; */
  /* background-color: #1F1F1F; */
  /* background-color: #292a2d; */
  /* background-color: #1D1E21; */
  /* background-color: #1f2024; */

  background-color: #18191c;

  /* background-color: #3F3D38; */
  /* background-color: #403d39; */
  color: #f1ece2;
  /* color: #fffcd2; */
  /* color: #7c7b75; */
  /* color: #efe6dd; */
  
}

#light {
  background-color: #fefcf2;
  /* background-color: #F9F6EB; */
  
  /* color: #f1ece2; */
  /* color: #403d39; */
  /* color: #2D3030; */
}

.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  rotate: 10deg;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #252525;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #4DFE59;
  border: 1px solid #141312;
}

.theme-toggle {
  filter: drop-shadow(0px 0px 6px #dcdcdc);
  -webkit-filter: drop-shadow(0px 0px 6px #dcdcdc);
}



@media screen and (max-width: 800px) {
  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
